/*header*/
header{
    background-image: url('../images/tim-foster-mQvQ81RwAz0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
ul{
    padding: 60px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.link{
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
/* to inspiration: w3schools.com (2021). Retrieved April 2021, from: https://www.w3schools.com/css/css_image_transparency.asp*/
/*loader*/
.loader{
    border: 10px solid;
    border-top: 10px solid rgba(21, 117, 108, 0.438);
    border-right: 10px solid rgba(21, 117, 107, 0.801);
    border-bottom: 10px solid rgba(21, 117, 107, 0.972);
    border-left: 10px solid rgba(21, 117, 107, 0.198);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* to inspiration: w3schools.com (2021). Retrieved April 2021, from: https://www.w3schools.com/howto/howto_css_loader.asp*/
/*index*/
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 320px) and (max-width: 600px){
.map{
    max-width: 90%;
}
}
@media (min-width: 601px) {
    figure{
        display: none;
    }
    .results{
        background-image: url('../images/canadian_map.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 27%;
}
.card{
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    display: grid;
    grid-template-columns: repeat(2 2fr);
    text-align: center;
}
.card a{
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
}
/*contact page*/
.container{
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 5px;
}
form{
   display: inline-block;
   text-align: center;
   border: 2px solid rgb(11, 78, 71);
   border-radius: 6px;
   padding: 50px;
}
input,
textarea{
    display:block;
    margin: 10px auto;
}
.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}
button{
    padding: 20px 30px;
    background-color: rgb(109, 200, 191);
}
/*Message -components*/
.message {
    padding: 1rem;
    border: 2px solid;
    color: grey;
}

.success {
    color: rgb(5, 65, 5);
    border-color:rgb(8, 246, 8);
    border-radius: 6px;
    background: rgba(11, 78, 71, 0.1);
}

.error {
    color: red;
    border-color: red;
    background: rgba(255, 0, 0, 0.1);
} 