h1, 
h4{
    text-align: center;
}
/*header*/
header{
    background-image: url('../images/rose-butler-HWtFbzNzSA4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 46%;
}
nav{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
    padding-left: 5%;
}
.link{
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.current{
    text-decoration: underline;
}
.logo p{
    margin: 0;
    
}
/* to inspiration: w3schools.com (2021). Retrieved April 2021, from: https://www.w3schools.com/css/css_image_transparency.asp*/
/*loader*/
.loader{
    border: 10px solid;
    border-top: 10px solid rgba(117, 35, 21, 0.438);
    border-right: 10px solid rgba(117, 35, 21, 0.801);
    border-bottom: 10px solid rgba(117, 35, 21, 0.972);
    border-left: 10px solid rgba(117, 35, 21, 0.198);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* to inspiration: w3schools.com (2021). Retrieved April 2021, from: https://www.w3schools.com/howto/howto_css_loader.asp*/
/*index*/
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.results{
    display: grid;
    gap: 2%;
    margin: 0 auto;
}
.card{
margin: 0;
padding: 20px;
background-color: #ffffff;
border: 1px solid black;
opacity: 0.8;
text-align: center;
}
/*Details*/
.datas{
    display: inline-block;
    border: 2px solid rgb(117, 35, 21);
    border-radius: 6px;
    margin-bottom: 3%;
}
/*contact page*/
.container{
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 5px;
}
form{
   display: inline-block;
   text-align: center;
   border: 2px solid rgb(117, 35, 71);
   border-radius: 6px;
   padding: 50px;
}
input,
textarea{
    display:block;
    margin: 20px auto;
}
.form-error {
    display: none;
    color: red;
    margin-top: 5px;
}
button{
    padding: 10px 30px;
    border-radius: 30px;
    border-color: #8b8888bc;
    background-color: rgb(199, 142, 91);
    font-weight: 600;
    cursor: pointer;
}
/*Message -components*/
.message {
    margin-top: 3%;
    padding: 1rem;
    border: 2px solid;
    color: grey;
}

.success {
    color: rgb(5, 65, 5);
    border-color:rgb(8, 246, 8);
    border-radius: 6px;
    background: rgba(11, 78, 71, 0.1);
}

.error {
    color: red;
    border-color: red;
    background: rgba(255, 0, 0, 0.1);
} 
/*Media Query*/
@media (min-width: 300px) and (max-width: 600px){
    .results{
        display: block;
    }
    .card{
        padding: 10px;
    }
    /*Details page*/
    .detailsContainer{
        max-width: 700px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .datas{
        padding:8%;
        margin: 5% -10%;
    }
}
@media (min-width: 601px) {
    /*index*/
    .results{
        max-width: 600px;
        grid-template-columns: 0.5fr 0.5fr;
    }
    /*Details page*/
    .detailsContainer{
        display: grid;
    }
    /*Contact page*/
    .container{
        font-size: 1.2em;
    }
    input, 
    #message,
    #address{
        width: 250px;
    }
    input{
        height: 30px;
    }
    #message{
        height: 80px;
    }
    #address{
        height: 50px;    
    }
    button:hover{
            background-color: #728958;
            box-shadow: 0px 15px 20px rgba(45, 77, 64, 0.438);
            color: #fff;
            font-weight: 700;
            transform: translateY(-3px);
    }
    /*to inspiration: Sebastian(@seme332). Retrieved April 2021, from: https://codepen.io/seme332/pen/reJOwo*/
}
